@charset "utf-8";

/* 주소검색목록 */
.addr-list {padding-top: 30px;}
.addr-list ul li {padding: 16px 0; border-bottom: 1px solid #eee;}
.addr-list ul li a {display: block;}
.addr-list ul li a span {display: block;}
.addr-list .post-num {color: #888; font-size: 14px; font-weight: 400; letter-spacing: -0.2px;}
.addr-list .addr-new {margin-top: 8px; color: #222; font-size: 16px; font-weight: 500; letter-spacing: -0.4px; text-decoration: underline;}
.addr-list .addr-old {margin-top: 4px; color: #666; font-size: 14px; font-weight: 500; letter-spacing: -0.4px; line-height: 20px;}

/* KB Pay 결제 */
.cd-change .cd-name {margin-top: 36px;}
.cd-name .card-icon {display: inline-block; width: 32px; height: 24px;}
.cd-change .card-list {position: relative; height: 128px; margin: 20px -16px 0;}
.cd-change .card-list img {display: inline-block; width: 168px; height: 106px;}
.cd-change .card-list .slick-list {overflow: visible;}
.cd-change .card-list .slick-slide {position: relative; height: 128px; text-align: center; transition: all ease-in-out .3s; opacity: .2;}
/* .cd-change .card-list .slick-slide.current::after {content: ""; display: block; position: absolute; right: 12px; top: -10px; width: 30px; height: 30px; background: url(../images/icon/ico_current_card_mark.png) no-repeat; background-size: contain;} */
.cd-change .card-list .slick-active {opacity: .5;}
.cd-change .card-list .slick-current {opacity: 1; background: url(../images/etc/bg_card_shadow.png) no-repeat center 22px; background-size: 168px auto;}
.cd-change .card-list .add-card {display: inline-block; width: 168px; height: 104px; border-radius: 8px; font-size: 0; text-indent: -9999px; background: #ddd url(../images/icon/ico_plus_white.png) no-repeat center; background-size: 32px;}
.cd-change .msg-box {margin-top: 24px;}
.cd-change .link01 {padding-top: 7px; text-align:center;}

.addr-example {margin-top: 24px;}
.addr-example span {display: block; margin-top: 8px; color: #888; font-size: 14px; line-height: 20px; letter-spacing: -0.2px;}

/* 휴대폰번호로그인 */
.kbp_webp_005 .tool-tip {padding:0 0 40px; margin-top: 40px;}
.kbp_webp_005 .list-type02 {padding:32px 0 24px 0;}
.kbp_webp_005 .list-type02 a {position:relative; border-color: #eee; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);}
.kbp_webp_005 .list-type02 a:after {content:"";display:block; position:absolute;top:0;right:0; width:56px; height:56px;background:url(../images/icon/ico_btn_card-box_link.png) center center no-repeat; background-size: 24px 24px;}
.kbp_webp_005 .list-type02 a span:before {content:"";display:inline-block; margin:0 8px 0 0;width:24px; height:24px; vertical-align: middle;}
.kbp_webp_005 .list-type02 .kakao span:before {background:url(../images/icon/ico_kakao.png) 0 0 no-repeat; background-size: 100%;}
.kbp_webp_005 .list-type02 .join span:before {background:url(../images/icon/ico_kbpay_24.png) 0 0 no-repeat; background-size: 100%;}
.kbp_webp_005 .btn-group {padding:32px 0 40px;}
.kbp_webp_005 .agree {padding-top: 24px;}
.kbp_webp_005 .agree .f-chk span {font-size:14px; color: #666; border-bottom:1px solid #666;}
.kbp_webp_005 .agree .f-chk::before {margin-right:4px;}

.kbp_webp_008 .agree-slider {padding-top: 24px;}
.kbp_webp_008 .agree-slider .slick-list {min-height: 408px;}
.kbp_webp_008 .agree-slider .terms-view {margin-top:16px;}
.kbp_webp_008 .terms-view {margin-top: -16px;}

.kbp_webp_018 .point {padding-top:24px; text-align: center;}

.kbp_webp_018 .form-wrap,
.kbp_webp_019 .form-wrap {margin-top: 16px;}

.kbp_webp_022 .cd-name {margin-top: 18px;}
.kbp_webp_022 .card-img {position: relative; width: 168px; height: 104px; margin: 18px auto 0;}
.kbp_webp_022 .card-img::after {content: ""; display: block; position: absolute; right: -12px; top: -10px; width: 30px; height: 30px; background: url(../images/icon/ico_current_card_mark.png) no-repeat; background-size: contain;}
.kbp_webp_022 .card-img img {max-width: 100%;}
.kbp_webp_022 .msg-box {margin-top: 32px;}
.kbp_webp_022 .list-type08 {margin-top: 52px;}

.kbp_webp_023 .cd-name {margin-top: 18px;}
.kbp_webp_023 .card-img {position: relative; width: 168px; height: 104px; margin: 18px auto 0;}
.kbp_webp_023 .card-img::after {content: ""; display: block; position: absolute; right: -12px; top: -10px; width: 30px; height: 30px; background: url(../images/icon/ico_current_card_mark.png) no-repeat; background-size: contain;}
.kbp_webp_023 .card-img img {max-width: 100%;}
.kbp_webp_023 .msg-box {margin-top: 32px;}
.kbp_webp_023 .guide-txt {margin-top: 8px}

.kbp_webp_024 .card-img {width: 168px; height: 104px; margin: 0 auto;}
.kbp_webp_024 .card-img img {max-width: 100%;}

.kbp_webp_025 .card-img {width: 168px; height: 104px; margin: 0 auto;}
.kbp_webp_025 .card-img img {max-width: 100%;}

/* CVC/CVC2 란 ? */
.kbp_webp_030 p,
.kbp_webp_030_1 p {padding-bottom:24px;}

/* 기업공용카드등록*/
.kbp_webp_032 .btn-group {padding:24px 0 16px; }

/* 휴대폰 인증번호 문자 미수신 안내 팝업 */
.kbp_webp_052 .txt {padding-top:16px;}
.kbp_webp_052 .list-ico {margin-top:16px; border-top:1px solid #ddd;}
.kbp_webp_052 .list-dot {margin-top:24px; padding:24px 0; border-top: 1px solid #eee; }

/* 소득공제 신청시 유의사항 */
.kbp_webp_056 .list-dot {margin:16px 0 24px}

/* 카드비밀번호 인증*/
.kbp_webp_061 .txt02 {padding-top:48px;}

/* 생년월일 입력 */
.kbp_webp_066 .tit + .form-wrap {padding-top: 0;}

.kbp_webp_068 .top-text {margin-top: 24px;}
.kbp_webp_068 .agree-terms {margin-top: 32px;}

/* 결제비밀번호 입력 */
.kbp_webp_015_1 .txt02,
.kbp_webp_021 .txt02,
.kbp_webp_016 .txt02,
.kbp_webp_039 .txt02,
.kbp_webp_040 .txt02,
.kbp_webp_063 .txt02 {padding:56px 0 0}

.kbp_webp_082 .form-wrap {padding-top: 18px;}
@media only screen and (max-width: 320px) {
    .kbp_webp_082 > .txt02 {font-size: 16px;}
}

.kbp_webp_089 .guide-txt {margin-top: 24px; letter-spacing: -1px;}
.kbp_webp_089 .cd-nodata {margin-top: 184px;}
.kbp_webp_089 .link01 {padding-top: 16px;}
