@charset "utf-8";

.guide-header h1 {padding: 20px; color: #666; font-size: 24px; background: #fff;}

.guide-gnb {padding: 10px 20px; background: #8d9cfd;}
.guide-gnb::after {content: ""; display: block; clear: both;}
.guide-gnb li {float: left;}
.guide-gnb li a {display: block; width: 80px; height: 20px; padding: 0 10px; color: #fff; font-size: 13px; line-height: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.guide-gnb li a.active {color: #000; background: #fff;}

.guide-container {padding: 30px 20px 50px 20px;}
.guide-container .guide-tit02 {margin-top: 20px;}

.guide-tit {padding-bottom: 10px; border-bottom: 1px solid #000; color: #666; font-size: 20px;}
.guide-tit02 {color: #8d9cfd; font-size: 18px;}

.guide-txt {margin-top: 5px; padding-bottom: 20px; border-bottom: 1px solid #eee; color: #666; font-size: 14px;}

.guide-list {margin-top: 5px; padding: 5px 10px 10px;}
.guide-list > li {padding: 5px 0;}

.guide-sub-list > li {padding-bottom: 10px; color: #666; font-size: 14px;}

.guide-tb {border-top: 1px solid #eee; font-size: 14px;}
.guide-tb td {padding: 10px; border-right: 1px solid #eee; border-bottom: 1px solid #eee;}
.guide-tb td:last-child {border-right: 0;}

.guide-default-layout {width: 375px; height: 667px; box-shadow: 5px 5px 5px 5px gray;}

.page-dir {padding: 150px 20px 50px 20px; border-top: 1px solid #434343;}
.page-dir::before {content: ""; display: block; height: 1px; background: #434343;}
.page-dir table {font-size: 12px;}
.page-dir table th {padding: 8px 0; border-right: 1px solid #e5e5e5;}
.page-dir table th:first-child {border-left: 1px solid #e5e5e5;}
.page-dir table td {padding: 8px; border-right: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;}
.page-dir table td:first-child {border-left: 1px solid #e5e5e5;}
.page-dir table td a {color: #000; text-decoration: underline;}

