@charset "utf-8";

/* KB Pay 결제 */
.cd-change .cd-name {margin-top: 8px;}
.cd-name .card-icon {display: inline-block; width: 32px; height: 24px;}
.cd-change .card-list {position: relative; height: 128px; margin: 20px -16px 0;}
.cd-change .card-list img {display: inline-block; width: 168px; height: 106px;}
.cd-change .card-list .slick-list {overflow: visible;}
.cd-change .card-list .slick-slide {position: relative; height: 128px; text-align: center; transition: all ease-in-out .3s; opacity: .2;}
/* .cd-change .card-list .slick-slide.current::after {content: ""; display: block; position: absolute; right: 12px; top: -10px; width: 30px; height: 30px; background: url(../images/icon/ico_current_card_mark.png) no-repeat; background-size: contain;} */
.cd-change .card-list .slick-active {opacity: .5;}
.cd-change .card-list .slick-current {opacity: 1; background: url(../images/etc/bg_card_shadow.png) no-repeat center 22px; background-size: 168px auto;}
.cd-change .card-list .add-card {display: inline-block; width: 168px; height: 104px; border-radius: 8px; font-size: 0; text-indent: -9999px; background: #ddd url(../images/icon/ico_plus_white.png) no-repeat center; background-size: 32px;}
.cd-change .card-list .slick-prev {z-index: 1; display: block; position: absolute; left: 24px; top: 35px; width: 32px; height: 32px; border-radius: 50%; font-size: 0; background: #5e5e5e url(../images/icon/ico_arrow_left_white24x24.png) no-repeat center;}
.cd-change .card-list .slick-next {display: block; position: absolute; right: 24px; top: 35px; width: 32px; height: 32px; border-radius: 50%; font-size: 0; background: #5e5e5e url(../images/icon/ico_arrow_right_white24x24.png) no-repeat center;}
.cd-change .msg-box {margin-top: 24px;}
.cd-change .link01 {padding-top: 7px; text-align:center;}
.cd-change .number {vertical-align: 1px;}

/* Card */
.cd-nodata .msg-nodata {margin-top: 134px; color: #888; font-size: 14px; font-weight: 400; line-height: 20px; letter-spacing: -0.2px; text-align: center;}
.cd-nodata .msg-nodata::before {content: ""; display: block; width: 48px; height: 48px; margin: 0 auto 7px; background: url(../images/icon/ico_nodata.png) no-repeat; background-size: contain;}

/* underline link*/
.resend-tip {padding-top:32px; text-align:right;}
.resend-tip > button,
.resend-tip > a {display:inline-block; padding:0 0 3px; font-size:16px; color:#666; letter-spacing: -0.2px; border-bottom: 1px solid #aaa; background:#fff}
.resend-tip > button + button,
.resend-tip > a + button,
.resend-tip > button + a {margin-left:13px;}
.passWrap + .resend-tip {padding-top:16px; text-align:center;}

@media only screen and (max-width: 320px) {
    .resend-tip > button + button,
    .resend-tip > a + button,
    .resend-tip > button + a {margin-top:8px; margin-left: 0;}
}

.kbp_payc_015 .tool-tip {padding:0; width:100%; text-align:right}
.kbp_payc_015 .tip-box {top:inherit; bottom:30px; left:32px; width:auto;}

.kbp_payc_017 .card-box.pay {margin-bottom: 16px;}
.kbp_payc_017 .msg {margin-top: 25px;}
.kbp_payc_017 .msg02 {margin-top: 16px;}
.kbp_payc_017 .form-wrap {margin-top: 20px;}
.kbp_payc_017 .form-text-list li .cell {width: 45%;}
.kbp_payc_017 .form-text-list li .cell + .cell {width: 55%; vertical-align: middle;}
.kbp_payc_017 .form-text-list li .cell .f-chk {color: #666;}

.kbp_payc_022 .card-box.pay {margin-bottom: 16px;}
.kbp_payc_022 .msg {margin-top: 32px;}
.kbp_payc_022 .pointry-use {display: table; margin: 65px auto 0; font-size: 16px; line-height: 24px; letter-spacing: -0.4px;}
.kbp_payc_022 .pointry-use > * {display: table-cell;}
.kbp_payc_022 .pointry-use dt {color: #666;}
.kbp_payc_022 .pointry-use dd {color: #222; font-weight: 500;}

.kbp_payc_023 .card-box.pay {margin-bottom: 16px;}
.kbp_payc_023 .msg {margin-top: 32px;}

.kbp_payc_024 .card-box.pay {margin-bottom: 16px;}
.kbp_payc_024 .msg {margin-top: 32px;}
.kbp_payc_024 .msg02 {margin-top: 16px;}

.kbp_payc_025 .card-box.pay {margin-bottom: 16px;}
.kbp_payc_025 .msg {margin-top: 32px;}
.kbp_payc_025 .msg02 {margin-top: 16px;}

@media only screen and (max-width: 320px) {
    .kbp_payc_017 .msg,
    .kbp_payc_024 .msg,
    .kbp_payc_025 .msg {font-size: 18px;}
    .kbp_payc_024 .msg02,
    .kbp_payc_025 .msg02 {font-size: 12px;}
}

.kbp_payc_052 .list-ico {margin-top:16px; border-top:1px solid #ddd;}
.kbp_payc_052 .list-ico > li:first-child {padding-top:16px;}
.kbp_payc_052 .list-dot {margin-top:16px; padding:16px 0; border-top: 1px solid #eee; }

.kbp_webp_060 .agree-terms {margin-top: 3px;}

.kbp_webp_065 .agree-terms {margin-top: 16px;}

@media only screen and (max-width: 320px) {
    .kbp_payc_068 .txt01 {font-size: 14px;}
}

/* 결제수단추가 */
.kbp_payc_082 .list-card-box {margin-bottom:0;}
.kbp_payc_082 .list-card-box + .align-r {padding:8px 0 32px;}

.kbp_payc_088 .form-wrap {margin-top: 28px;}

.kbp_payc_089 .addr-detail-input {margin-top: 28px;}


